body {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}


.dropdown {
  position: relative;

  &__inner {
    position: absolute;
    right: 0;
    top: 15px;
    visibility: hidden;
  }

  &:hover &__inner {
    visibility: visible;
  }

  &__content {
    margin-top: 30px;
    border-radius: $brs-small;
    background: $white;
    box-shadow: $box-shadow-small;
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.cabinet-nav {
  margin: 0;
  list-style: none;
  padding: 0;
}