
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $dark;
}

h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  box-shadow: none;
}

.container {
  max-width: 1320px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.dropdown {
  position: relative;

  &__inner {
    position: absolute;
    right: 0;
    top: 15px;
    visibility: hidden;
  }

  &:hover &__inner {
    visibility: visible;
  }

  &__content {
    margin-top: 30px;
    border-radius: $brs-small;
    background: $white;
    box-shadow: $box-shadow-small;
  }

  &__btn {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.btn {
  display: flex;
  text-align: center;
  padding: 10px 28px;
  border-radius: $brs-btn;
  cursor: pointer;

  &-primary {
    background: $light-blue;
    color: $white;
  }

  &-primary:hover {
    background-color: $hover-blue;
  }
}