.intro {
    background-color: $dark-blue;
}

.intro-content {
    margin-top: 72px;
    height: calc(100vh - 72px);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        padding-right: 25px;
    }

    &__subtitle {
        color: $white;
        font-size: 24px;
        font-weight: 600;
        margin-top: 15px;
        opacity: .6;
    }
}

.intro-media {
    display: flex;
    flex-shrink: 0;
}

.btn--slogan {
    margin-top: 50px;
}



@media (max-width: 768px) {

    .main-nav {
        display: none;
    }

    .intro,
    .intro-content {
        height: auto;
    }

    .intro-content {
        flex-direction: column-reverse;
    }

    .intro-slogan {
        align-items: center;

        &__title {
            font-size: 32px;
            text-align: center;
        }

        &__subtitle {
            font-size: 20px;
            text-align: center;
        }
    }

    .intro-media {
        width: 85%;
    }

}